.border{

}

.linea{
	border: 1px solid black;
	width: 35px;
}

.carousel-inner{
	max-height: 400px;
	overflow: hidden;
}


#uno{
margin-top: -30%;
}

#dos{
margin-top: -20%;
}

#tres{
margin-top: -5%;
}